DATABASE_URL="postgresql://<your_username>:<your_password>@<host>:<port>/link_snap"

JWT_SECRET=generate_a_secure_random_string_for_jwt_secret

# For Google OAuth
GOOGLE_CLIENT_ID=get_it_from_google_cloud_console
GOOGLE_CLIENT_SECRET=get_it_from_google_cloud_console

FRONTEND_URL=http://localhost:5173

NODE_ENV=development