// Used for vitest for testing. 

DATABASE_URL="postgresql://<your_username>:<your_password>@<host>:<port>/link_snap_test"

JWT_SECRET=random_secure_string_for_testing_purposes

// A test userId is used in the payload of this JWT token for testing purposes
TEST_JWT_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjJmZTYyODRiLWIzOGEtNDBjYi1iODhiLWYyMWE2NTA0MDUzYyIsImlhdCI6MTc4NzgzNzc2MiwiZXhwIjoxNzg4NDQyNTYyfQ.QePIQGtHQj1HddIrGFxtl9kHk20pOdRw8iMxziwD-ds
# For Google OAuth
GOOGLE_CLIENT_ID=get_it_from_google_cloud_console
GOOGLE_CLIENT_SECRET=get_it_from_google_cloud_console

FRONTEND_URL=http://localhost:5173

NODE_ENV=development